@{
	@model my_projects.Models.LinkIconInfoViewModel
}


<div class="d-inline-flex fit justify-content-between outer-shadow align-items-center border rounded mt-3 ml-md-3 ml-lg-3 ml-xlg-3">
	
		<div class="icon border-left">
		<i class="@Model.icon @Model.color fa-lg"></i>
	</div>
	<div class="text-right fit pr-2">
		<div class="fs-es font-weight-bold p-1">@Model.key</div>
		<div class="fs-es p-1">@Model.value</div>
	</div>

	<div class="pr-5 pl-2">
		<a href="@Model.link">
		<i class="fa fa-eye rounded border @Model.color p-1 "></i>
		</a>
	</div>
</div>