@{
	ViewData["Title"] = "غیر فعال شدن صلاحیت ها";
	Layout = "~/Views/Shared/_FileInfoLayout.cshtml";
	@model List<my_projects.Models.DisabledCredentialsViewMode>;
}

<div class="container">
	<h5> گزارش غیر فعال شدن صلاحیت های پرونده جاری</h5>
	<table class="table align-right">
		<thead>
			<tr>
				<th scope="col">تاریخ شروع</th>
				<th scope="col">تاریخ پایان</th>
				<th scope="col">رشته سازمانی</th>
				<th scope="col">نوع صلاحیت</th>
				<th scope="col"> سهم و کار</th>
				<th scope="col"> تاریخ ثبت </th>
				<th scope="col"> توضیح </th>
			</tr>
		</thead>
		<tbody id="">
			@{
				foreach (var item in Model)
				{
					<tr>
						<td>@item.StartDate</td>
						<td>@item.EndDate</td>
						<td>@item.OrganizationalField</td>
						<td>@item.TypeOfCompetence</td>
						<td>@item.ShareAndWork</td>
						<td>@item.DateOfRegistration</td>
						<td>@item.Description</td>
					</tr>
				}
			}

		</tbody>
	</table>

</div>