@{
	ViewData["Title"] = "گزارش سوابق مالی";
	@model List<my_projects.Models.FinancialReportViewModel>;

}


<div>
	<h5 class="align-right fs-s font-weight-bold mb-3"> گزارش سوابق مالی</h5>

	<table id="tbGrid" class="table hover text-center fs-es mt-3">
		<thead>
			<tr>
				<th scope="col"> شرح</th>
				<th scope="col">تاریخ سند</th>
				<th scope="col">بدهکار(ریال) </th>
				<th scope="col">بستانکار(ریال) </th>
				<th scope="col"> مانده </th>

			</tr>
		</thead>
		<tbody id="">
			@{
				foreach (var item in Model)
				{
					<tr>
						<td>@item.Description</td>
						<td>@item.DocumentDate</td>
						<td>@item.Debtor</td>
						<td>@item.Creditor</td>
						<td>@item.Remaining</td>
					</tr>
				}
			}

		</tbody>
	</table>
</div>
 @await Html.PartialAsync("~/Views/Scripts/_GridScripts.cshtml")

  