@{
	ViewData["Title"] = "گزارش سوابق مالی";
	@model List<my_projects.Models.StepPaymentsViewModel>;
}

<div class="container he-100">
	<h5 class="align-right fs-s font-weight-bold mb-3"> گزارش  پرداخت های مرحله ای</h5>

	<table id="tbGrid" class="table hover text-center fs-es mt-3">
		<thead>
			<tr>
				<th scope="col"> ردیف</th>
				<th scope="col">عنوان فرایند</th>
				<th scope="col">وضعیت فرایند </th>
				<th scope="col">کد فرایند </th>
				<th scope="col"> نام مالک </th>
				<th scope="col">پلاک ثبتی</th>
				<th scope="col">عنوان مرحله</th>
				<th scope="col">تاریخ پرداخت</th>
				<th scope="col">پرداخت شده</th>
				<th scope="col">عملیات</th>

			</tr>
		</thead>
		<tbody id="">
			@{
				foreach (var item in Model)
				{
					<tr>
						<td>@item.Id</td>
						<td>@item.ProcessTitle</td>
						<td>@item.ProcessState</td>
						<td>@item.ProcessId</td>
						<td>@item.OwnerName</td>
						<td>@item.Plate</td>
						<td>@item.StepTitle</td>
						<td>@item.PaymentDate</td>
						<td>@item.Amountpaid</td>
						<td><a><i class="fa fa-folder-open text-primary pointer" aria-hidden="true"></i></a></td>
					</tr>
				}
			}

		</tbody>
	</table>
</div>
@await Html.PartialAsync("~/Views/Scripts/_GridScripts.cshtml")

